* {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  font-size: 14px;
  color: #00cc66;
  box-sizing: content-box;
}

body {
  height: 100%;
}

#root {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
}

.bouton {
  min-width: 150px;
  background-color: #adff99;
  color: #660000;
  font-weight: 600;
  padding: 8px;
  width: 120px;
  text-align: center;
  margin: 12px 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid #00cc66;
}
.bouton:hover {
  background-color: #00cc66;
}

.btn_select {
  background-color: #00cc66;
}

input, select {
  border: 1px solid #33ff00;
  border-radius: 8px;
  color: #660000;
}
input:focus, select:focus {
  border: 2px solid #00cc66;
}

.banner {
  width: 95%;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 3px solid #00cc66;
  margin-bottom: 20px;
}
.banner img {
  height: 80px;
  position: absolute;
  left: 100%;
  -webkit-animation: moove_ball 5s 500ms both;
          animation: moove_ball 5s 500ms both;
}
.banner h1 {
  position: absolute;
  left: 100%;
  -webkit-animation: moove_title 4.5s 1s both;
          animation: moove_title 4.5s 1s both;
  white-space: nowrap;
}
.banner p {
  position: absolute;
  left: 100%;
  font-size: 19px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-animation: moove_text 3s 2s both;
          animation: moove_text 3s 2s both;
}

@-webkit-keyframes moove_ball {
  0% {
    left: 100%;
    rotate: 0%;
  }
  100% {
    left: 3%;
    rotate: -720deg;
  }
}

@keyframes moove_ball {
  0% {
    left: 100%;
    rotate: 0%;
  }
  100% {
    left: 3%;
    rotate: -720deg;
  }
}
@-webkit-keyframes moove_title {
  from {
    left: 100%;
  }
  to {
    left: 15%;
  }
}
@keyframes moove_title {
  from {
    left: 100%;
  }
  to {
    left: 15%;
  }
}
@-webkit-keyframes moove_text {
  from {
    left: 100%;
  }
  to {
    left: 40%;
  }
}
@keyframes moove_text {
  from {
    left: 100%;
  }
  to {
    left: 40%;
  }
}
.logincontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #33ff00;
  border-radius: 22px;
  padding: 15px;
  margin-top: 20px;
}
.logincontainer_champs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 8px 0;
}
.logincontainer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logincontainer_form--label {
  width: 80px;
  margin-right: 8px;
}
.logincontainer_form--input {
  padding: 5px;
  border: 1px solid #00cc66;
}
.logincontainer_form--error {
  color: red;
  font-size: 17px;
  font-weight: 600;
}
.logincontainer_form h2 {
  border-bottom: 1px solid #33ff00;
}

.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_welcome {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #00cc66;
  border-radius: 22px;
}
.home_container {
  margin-top: 15px;
}
.home_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.form {
  width: 40%;
  border: 2px solid #00cc66;
  border-radius: 16px;
  margin-top: 15px;
  padding: 8px;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_container--label {
  padding: 5px;
}
.form_container--input {
  padding: 5px;
}
.form_container--left {
  align-self: baseline;
  margin: 8px;
}

.input_box {
  margin: 8px;
  width: 85%;
  display: flex;
  justify-content: center;
}
.input_box label {
  width: 80px;
}
.input_box select {
  min-width: 199px;
}/*# sourceMappingURL=styles.css.map */