* {
  font-family: "Ubuntu", sans-serif;
  background-color: $couleur_background;
  font-size: $font_standard;
  color: $couleur_primaire;
  box-sizing: content-box;
}

body {
  height: 100%;
}

#root {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: $font_h1;
}

.bouton {
  min-width: 150px;
  background-color: lighten($couleur_secondaire, 30%);
  color:$couleur_tertiaire;
  font-weight: 600;
  padding: $margin_medium;
  width: 120px;
  text-align: center;
  margin: $margin_medium_large 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $radius_medium;
  border: 2px solid $couleur_primaire;
  
  &:hover{
    background-color: $couleur_primaire;
  }
}

.btn_select {
  background-color: $couleur_primaire;
}

input, select {
  border: 1px solid $couleur_secondaire;
  border-radius: $radius_small;
  color: $couleur_tertiaire;

  &:focus {
    border: 2px solid $couleur_primaire;
  }
}

